@{
    ViewData["Title"] = "Home Page";
    ViewData["FullLayout"] = true;
}
<div class="position-relative">

    <div class="p-3 text-center col-home col-home--hero position-relative">
        <div id="anime" class="overflow-hidden w-100 h-100 position-absolute" style="left: 0; top:0"></div>
        <div class="col-md-5 p-lg-5 mx-auto">
            <h1 class="display-4 font-weight-normal text-capitalize">BTC Transmuter</h1>
            <p class="lead font-weight-normal">Automate your money</p>
            <p class="font-weight-normal">BTC Transmuter allows you to create flexible recipes consisting of triggers and actions around crypto services to automate your money.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4 col-sm-12 col-home col-home--light text-center p-2 p-lg-5" style="min-height: 30vh">
                <h2>Free & open-source</h2>
                <p>All source code is fully available on Github under an MIT license</p>
                <div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 291.32 291.32" xml:space="preserve">
                        <path d="M145.66,0C65.219,0,0,65.219,0,145.66c0,80.45,65.219,145.66,145.66,145.66
                        	s145.66-65.21,145.66-145.66C291.319,65.219,226.1,0,145.66,0z M186.462,256.625c-0.838-11.398-1.775-25.518-1.83-31.235
                        	c-0.364-4.388-0.838-15.549-11.434-22.677c42.068-3.523,62.087-26.774,63.526-57.499c1.202-17.497-5.754-32.883-18.107-45.3
                        	c0.628-13.282-0.401-29.023-1.256-35.941c-9.486-2.731-31.608,8.949-37.79,13.947c-13.037-5.062-44.945-6.837-64.336,0
                        	c-13.747-9.668-29.396-15.64-37.926-13.974c-7.875,17.452-2.813,33.948-1.275,35.914c-10.142,9.268-24.289,20.675-20.447,44.572
                        	c6.163,35.04,30.816,53.94,70.508,58.564c-8.466,1.73-9.896,8.048-10.606,10.788c-26.656,10.997-34.275-6.791-37.644-11.425
                        	c-11.188-13.847-21.23-9.832-21.849-9.614c-0.601,0.218-1.056,1.092-0.992,1.511c0.564,2.986,6.655,6.018,6.955,6.263
                        	c8.257,6.154,11.316,17.27,13.2,20.438c11.844,19.473,39.374,11.398,39.638,11.562c0.018,1.702-0.191,16.032-0.355,27.184
                        	C64.245,245.992,27.311,200.2,27.311,145.66c0-65.365,52.984-118.348,118.348-118.348S264.008,80.295,264.008,145.66
                        	C264.008,196.668,231.69,239.992,186.462,256.625z"/>
                    </svg>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-home col-home--dark text-center p-2 p-lg-5" style="min-height: 30vh">
                <h2>Enrich your BTCPay experience</h2>
                <p>BTCPayServer integration allows you to trigger recipes based on your invoice statuses</p>
                <div><img src="~/assets/btcpay.svg"></div>
            </div>
            <div class="col-md-4 col-sm-12 col-home col-home--light text-center p-2 p-lg-5">
                <h2>Webhooks</h2>
                <p>Communicate through Webhooks with other services such as IFTTT or even your own software to enable limitless possibilities</p>
	            <div>
		            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;" xml:space="preserve" width="480px" height="480px">
                    	<path d="M35,37c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S37.2,37,35,37z"/>
                    	<path d="M35,43c-3,0-5.9-1.4-7.8-3.7l3.1-2.5c1.1,1.4,2.9,2.3,4.7,2.3c3.3,0,6-2.7,6-6s-2.7-6-6-6   c-1,0-2,0.3-2.9,0.7l-1.7,1L23.3,16l3.5-1.9l5.3,9.4c1-0.3,2-0.5,3-0.5c5.5,0,10,4.5,10,10S40.5,43,35,43z"/>
                    	<path d="M14,43C8.5,43,4,38.5,4,33c0-4.6,3.1-8.5,7.5-9.7l1,3.9C9.9,27.9,8,30.3,8,33c0,3.3,2.7,6,6,6   s6-2.7,6-6v-2h15v4H23.8C22.9,39.6,18.8,43,14,43z"/>
                    	<path style="fill:#E91E63;" d="M14,37c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S16.2,37,14,37z"/>
                    	<path d="M25,19c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S27.2,19,25,19z"/>
                    	<path style="fill:#E91E63;" d="M15.7,34L12.3,32l5.9-9.7c-2-1.9-3.2-4.5-3.2-7.3c0-5.5,4.5-10,10-10c5.5,0,10,4.5,10,10   c0,0.9-0.1,1.7-0.3,2.5l-3.9-1c0.1-0.5,0.2-1,0.2-1.5c0-3.3-2.7-6-6-6s-6,2.7-6,6c0,2.1,1.1,4,2.9,5.1l1.7,1L15.7,34z"/>
                    </svg>
	            </div>
            </div>
            <div class="col-md-4 col-sm-12 col-home col-home--dark text-center p-2 p-lg-5">
                <h2>Lightning-enabled</h2>
                <p>Open lightning channels, detect payments and even pay BOLT invoices through automation on your own lightning nodes</p>
                <div><img src="~/assets/lightning.svg"></div>
            </div>
            <div class="col-md-4 col-sm-12 col-home col-home--light text-center p-2 p-lg-5">
                <h2>Presets Wizard</h2>
                <p>Easy to setup wizards available for the most common use-cases such as BTCPay fiat integration and payment forwarding</p>
                <div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    	 viewBox="0 0 460 460" xml:space="preserve">
                    	<path d="M72.878,167.167c0-52.638,42.869-95.295,95.295-95.295c50.775,0,92.476,39.965,95.156,90.158
                    		c7.497-7.38,17.774-11.943,29.1-11.943h42.911v-16.94c0-6.357-5.153-11.509-11.509-11.509H296.44
                    		c-1.574-4.435-3.368-8.766-5.376-12.975l19.369-19.369c4.495-4.495,4.495-11.782,0-16.277l-48.111-48.111
                    		c-4.495-4.495-11.782-4.495-16.276,0l-19.369,19.369c-4.21-2.008-8.54-3.801-12.975-5.376V11.509
                    		C213.702,5.153,208.549,0,202.193,0h-68.039c-6.356,0-11.509,5.153-11.509,11.509V38.9c-4.435,1.574-8.765,3.368-12.975,5.376
                    		L90.3,24.907c-4.495-4.495-11.782-4.495-16.276,0L25.913,73.017c-4.495,4.495-4.495,11.782,0,16.277l19.369,19.369
                    		c-2.008,4.209-3.801,8.54-5.376,12.975H12.516c-6.356,0-11.509,5.153-11.509,11.509v68.038c0,6.356,5.153,11.509,11.509,11.509
                    		h27.391c1.574,4.435,3.368,8.765,5.376,12.975L25.913,245.04c-4.495,4.495-4.495,11.782,0,16.276l48.111,48.111
                    		c4.495,4.495,11.782,4.495,16.276,0l19.369-19.369c4.21,2.008,8.54,3.801,12.975,5.376v27.391c0,6.356,5.153,11.509,11.509,11.509
                    		h14.927v-40.898c0-12.376,5.452-23.494,14.071-31.106C112.864,259.705,72.878,217.934,72.878,167.167z"/>
                    	<path d="M217.675,181.051c4.491-4.491,9.832-7.82,15.657-9.849c2.315-37.926-27.809-69.331-65.159-69.331
                    		c-36.061,0-65.295,29.234-65.295,65.295c0,36.909,30.668,66.782,68.05,65.225C175.007,222.359,176.894,221.832,217.675,181.051z"/>
                    	<path d="M447.484,281.926h-18.896c-1.478-4.248-3.192-8.386-5.134-12.393l13.361-13.361c4.495-4.495,4.495-11.782,0-16.277
                    		l-37.63-37.63c-2.247-2.247-5.193-3.371-8.138-3.371s-5.891,1.124-8.138,3.371l-13.361,13.361
                    		c-4.007-1.942-8.145-3.656-12.394-5.134v-18.896c0-6.356-5.153-11.509-11.509-11.509h-53.217c-6.356,0-11.509,5.153-11.509,11.509
                    		v18.896c-4.248,1.478-8.386,3.191-12.394,5.134l-13.361-13.361c-2.247-2.247-5.193-3.371-8.138-3.371
                    		c-2.945,0-5.891,1.124-8.138,3.371l-37.63,37.63c-4.495,4.495-4.495,11.782,0,16.277l13.361,13.361
                    		c-1.942,4.007-3.656,8.145-5.134,12.393H190.59c-6.356,0-11.509,5.153-11.509,11.509v53.217c0,6.356,5.153,11.509,11.509,11.509
                    		h18.896c1.478,4.248,3.191,8.386,5.134,12.393l-13.361,13.361c-4.495,4.495-4.495,11.782,0,16.277l37.63,37.63
                    		c2.247,2.247,5.193,3.371,8.138,3.371c2.945,0,5.891-1.124,8.138-3.371l13.361-13.361c4.007,1.942,8.145,3.656,12.394,5.134v18.896
                    		c0,6.357,5.153,11.509,11.509,11.509h53.217c6.356,0,11.509-5.153,11.509-11.509v-18.895c4.249-1.478,8.386-3.192,12.394-5.134
                    		l13.361,13.361c2.247,2.247,5.193,3.371,8.138,3.371s5.891-1.124,8.138-3.371l37.63-37.63c4.495-4.495,4.495-11.782,0-16.277
                    		l-13.361-13.361c1.942-4.007,3.655-8.145,5.134-12.393h18.896c6.356,0,11.509-5.153,11.509-11.509v-53.217
                    		C458.993,287.079,453.84,281.926,447.484,281.926z M319.037,404.71c-46.685,0-84.667-37.981-84.667-84.667
                    		s37.981-84.667,84.667-84.667c46.685,0,84.667,37.981,84.667,84.667S365.722,404.71,319.037,404.71z"/>
                    	<circle cx="319.037" cy="320.044" r="54.667"/>
                    </svg>

                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-home col-home--dark text-center p-2 p-lg-5">
                <h2>Multi-exchange support</h2>
                <p>Over a dozen exchanges are supported allowing you to place market order against a variety of currencies</p>
                <div><img src="assets/bitcoin-pound-currency-exchange-rate.svg"></div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/scripts/homepage.js" defer="defer"></script>
    <link type="text/css" rel="stylesheet" href="~/styles/homepage.css"/>
}
