@{
    ViewData["Title"] = "Home Page";
    ViewData["FullLayout"] = true;
}
<div class="position-relative">
    <partial name="Test"/>


    <div class="p-3 text-center bg-light  border-bottom">
        <div class="col-md-5 p-lg-5 mx-auto">
            <h1 class="display-4 font-weight-normal text-capitalize">BTC Transmuter</h1>
            <p class="lead font-weight-normal">Automate your money</p>
            <p class="font-weight-normal">BTC Transmuter allows you to create flexible recipes consisting of triggers and actions around crypto services to automate your money.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 bg-light text-center p-lg-5" style="min-height: 30vh">

                <h2>Multi-exchange support</h2>
                <p>Over a dozen exchanges are supported allowing you to place market order against a variety of currencies</p>
                <img src="https://www.svgrepo.com/show/19231/bitcoin-pound-currency-exchange-rate.svg" style="height: 25vh; width: 25vh">

            </div>
            <div class="col-md-6 col-sm-12  bg-dark text-center p-lg-5 text-white" style="min-height: 30vh">
                <h2>Enrich your BTCPay experience</h2>
                <p>BTCPayServer integration allows you to trigger recipes based on your invoice statuses</p>
                <img src="~/assets/btcpay.svg" style="height: 25vh; width: 25vh">
            </div>

            <div class="col-md-6 col-sm-12  bg-dark text-center p-lg-5 text-white" style="min-height: 30vh">
                <h2>Lightning-enabled</h2>
                <p>Open lightning channels, detect payments and even pay BOLT invoices through automation on your own lightning nodes</p>
                <img src="https://www.svgrepo.com/show/5159/lightning.svg" style="height: 25vh; width: 25vh">
            </div>

            <div class="col-md-6 col-sm-12 bg-light text-center p-lg-5" style="min-height: 30vh">
                <h2>Webhooks</h2>
                <p>Communicate through Webhooks with other services such as IFTTT or even your own software to enable limitless possibilities</p>
                <img src="~/assets/icons8-webhook.svg" style="height: 25vh; width: 25vh">
            </div>
        </div>
    </div>

</div>