@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Introduction</h1>
    <p>
        BtcTransmuter is an application that provides execution of certain actions on certain triggers.
        Base use case is to trigger automatic conversion orders on crypto exchanges when invoice on BtcPayServer is paid.
    </p>
    <p>
        However the system is flexibly coded and supports variety of scenarios - like sending email notifications on certain events.
        This also means that it can be further extended to handle other scenarios - automatically depositing crypto in exchange,
        sending email when balance on exchange is under certain threshold and so on.
    </p>
    <h2>Entities</h2>
    <p>
        The starting entities are External Services as they are the sources of Triggers and Actions. Triggers are sources of events;
        they trigger execution of Actions. Currently supported External Services are listed <a asp-controller="Admin" asp-action="Extensions">here</a>.
    </p>
    <h2>Getting started</h2>
    <p>
        It is advised you first <a asp-controller="ExternalServices" asp-action="GetServices">define External Services</a> you depend on.
    </p>
    <p>
        After that, <a asp-controller="Recipes" asp-action="GetRecipes">create Recipes</a> by combining newly available Triggers and Actions.
        Keep in mind that for every Trigger all Actions are executed.
    </p>
</div>