@model BtcTransmuter.ViewComponents.RecipeActionFooterViewModel


<pre class="mt-2">
You can use <kbd>{TriggerData.XXX}</kbd> in the fields where XXX  is the property name of a field present in the data that triggered the trigger. 

You can mix and match as many as you want. If you have a number, you may even do formulas: <br/><kbd>{(TriggerData.NumberProperty / 2 * TriggerData.OtherNumberProperty)  }</kbd>

@if (!Model.NoRecipeTrigger)
{
    <span>Properties available under <kbd>TriggerData.</kbd></span>
    <partial name="PosData" model="@Model.Properties"/>
}
else
{
    <span>No Recipe Trigger has been set yet.</span>
}

</pre>