@model BtcTransmuter.Extension.Recipe.Actions.CreateRecipe.CreateRecipeController.CreateRecipeViewModel
@{
    ViewData["Title"] = "Edit Create Recipe Action";
}

<h2>@ViewData["Title"]</h2>


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RecipeTemplateId" class="control-label"></label>
        <select asp-for="RecipeTemplateId" asp-items="Model.Recipes" class="form-control"></select>
        <span asp-validation-for="RecipeTemplateId" class="text-danger"></span>
    </div>
    <div class="form-group">NBXplorerMenuExtension
        <label asp-for="Enable" class="control-label"></label>
        <input type="checkbox" asp-for="Enable" class="form-check"/>
        <span asp-validation-for="Enable" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="RecipeId"/>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="EditRecipe" asp-controller="Recipes" class="btn btn-secondary" asp-route-id="@Model.RecipeId">Back to recipe</a>
    </div>
</form>
@await Component.InvokeAsync("RecipeActionFooter", new
{
    recipeId = @Model.RecipeId, 
    recipeActionIdInGroupBeforeThisOne = @Model.RecipeActionIdInGroupBeforeThisOne
})