<ul class="nav">
    <li class="nav-item">
        <a asp-action="Users" asp-controller="Admin" class="nav-link">Users</a>
    </li>
    <li class="nav-item">
        <a asp-action="EditSettings" asp-controller="Admin" class="nav-link">Settings</a>
    </li>
</ul>
