<ul class="nav">
    <li class="nav-item">
        <a class="nav-link " asp-action="Users" asp-controller="Admin">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-action="EditSettings" asp-controller="Admin">Settings</a>
    </li>

</ul>