@inject BTCTransmuter.Extension.Tor.Services.TorServices TorServices
@if (TorServices.TransmuterTorService != null)
{
    <li class="nav-item">
        <a href="@TorServices.TransmuterTorService.OnionHost" class="nav-link">Onion</a>
    </li>
}
