<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BtcTransmuter</title>
    <link type="text/css" rel="stylesheet" href="~/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="~/styles/global.css"/>
    @await Component.InvokeAsync("ExtensionHeaders")

    @RenderSection("Scripts", required: false)
</head>
<body>
<partial name="Header"/>

@if (ViewData.ContainsKey("FullLayout"))
{
    <main role="main" >
        @RenderBody()
    </main>

    <partial name="Footer"/>
}
else
{
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <partial name="Footer"/>
    </div>
}

</body>
</html>