@using BtcTransmuter.Abstractions.Settings
@using BtcTransmuter.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BtcTransmuter</title>

    @await Component.InvokeAsync("ExtensionHeaders")
    <partial name="JqueryScripts"/>
    @RenderSection("Scripts", required: false)
    @inject ISettingsManager SettingsManager;
    @if ((await SettingsManager.GetSettings<SystemSettings>(nameof(SystemSettings))).DiscourageSearchEngines)
    {
        <META NAME="robots" CONTENT="noindex">
    }
    <partial name="BTCPayAuth"/>
</head>
<body>
<partial name="Header"/>

@if (ViewData.ContainsKey("FullLayout"))
{
    <main role="main">
        @RenderBody()
    </main>
}
else
{
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
}

<partial name="Footer"/>

</body>
</html>
