@using BtcTransmuter.Abstractions.Settings
@using BtcTransmuter.Controllers
@using BtcTransmuter.Data.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISettingsManager SettingsManager
@{
    var settings = await SettingsManager.GetSettings<SystemSettings>(nameof(SystemSettings));
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mr-3">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
    </li>
    <li class="nav-item">
        <form asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm"
              style="margin-top: -2px;">
            <button type="submit" class="btn btn-link p-0">Logout</button>
        </form>
    </li>
}
else
{
    @if (!settings.DisableRegistration)
     {
         <li class="nav-item mr-3">
             <a asp-area="Identity" asp-page="/Account/Register">Register</a>
         </li>
     }
    <li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}