@using BtcTransmuter.Abstractions.Settings
@using BtcTransmuter.Controllers
@using BtcTransmuter.Data.Entities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISettingsManager SettingsManager
@{
    var settings = await SettingsManager.GetSettings<SystemSettings>(nameof(SystemSettings));
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-link">Account</a>
    </li>
    <li class="nav-item">
        <form class="nav-link" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm"
              style="margin-top:-1px;">
            <button type="submit" class="btn p-0">Logout</button>
        </form>
    </li>
}
else
{
    @if (!settings.DisableRegistration)
    {
       <li class="nav-item">
           <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">Register</a>
       </li>
    }
    <li class="nav-item">
        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Login</a>
    </li>
}
