<footer class="border-top footer mt-auto py-3 text-muted text-center">
    <div class="container">
        BTC Transmuter was made with ❤ by
        <a href="https://twitter.com/mrkukks" target="_blank"> Kukks</a> & <a href="https://twitter.com/r0ckstardev" target="_blank"> RockstarDev</a>
        @@ <a href="https://btcpayserver.org" target="_blank">BtcPayServer</a>
    </div>
</footer>