@using BtcTransmuter.Data.Models
@using BtcTransmuter.Extension.BtcPayServer.Triggers.InvoiceStatusChanged
@model BtcTransmuter.Data.Entities.RecipeTrigger
@{
    var data = Model.Get<InvoiceStatusChangedTriggerParameters>();
}

<div>
    Btcpayserver Invoice Status Change to
    <kbd>@((data.Status?.Any() ?? false) ? string.Join(", ", data.Status) : "any status")</kbd>
    and additional status to <kbd>@((data.ExceptionStatus?.Any() ?? false) ? string.Join(", ", data.ExceptionStatus) : "any status")</kbd>

</div>