@using BtcTransmuter.Data.Models
@using BtcTransmuter.Extension.Operators.Actions.Condition
@model BtcTransmuter.Data.Entities.RecipeAction
@{
    var data = Model.Get<ConditionData>();
}

<div>
   Evaluate if <kbd>@data.Condition</kbd>
</div>