@model ViewRecipeActionViewModel


@if (Model.ActionDescriptor == null)
{
    <span> Extension for this action is not present</span>
}
else
{
    <partial name="@Model.ActionDescriptor.ViewPartial" model="@Model.RecipeAction"></partial>
}

@if (Model.ExternalServiceData != null)
{
    <div>
        External Service: @Model.ExternalServiceData.Name
    </div>
}