@model BtcTransmuter.Extension.Lightning.ExternalServices.NBXplorerWallet.NBXplorerWalletController.EditNBXplorerWalletExternalServiceDataViewModel

@{
    ViewData["Title"] = "Edit NBXplorer Wallet External Service Data";
}

<h2>@ViewData["Title"]</h2>

<a asp-controller="WalletCreator" asp-action="GetWallet"  target="_blank">Wallet generator helper</a>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CryptoCode" class="control-label"></label>
        <select asp-for="CryptoCode" asp-items="Model.CryptoCodes" class="form-control"></select>
        <span asp-validation-for="CryptoCode" class="text-danger"></span>
    </div>

    <div class="card  mb-2">
        <div class="card-body">

            <h5 class="card-title">Sender Details</h5>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DerivationStrategy" class="control-label"></label>
                <input asp-for="DerivationStrategy" class="form-control"/>
                <span asp-validation-for="DerivationStrategy" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="list-group mb-2">
        <div class="list-group-item ">
            <h5 class="mb-1">Private keys to sign transaction with</h5>
        </div>
        @for (var index = 0; index < Model.PrivateKeys.Count; index++)
        {
            <div class="list-group-item justify-content-between align-items-center">
                <div>
                    <div class="form-group">
                        <label asp-for="PrivateKeys[0].MnemonicSeed" class="control-label"></label>
                        <input asp-for="PrivateKeys[0].MnemonicSeed" class="form-control"/>
                        <span asp-validation-for="PrivateKeys[0].MnemonicSeed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrivateKeys[0].Passphrase" class="control-label"></label>
                        <input asp-for="PrivateKeys[0].Passphrase" class="form-control"/>
                        <span asp-validation-for="PrivateKeys[0].Passphrase" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrivateKeys[0].WIF" class="control-label"></label>
                        <input asp-for="PrivateKeys[0].WIF" class="form-control"/>
                        <span asp-validation-for="PrivateKeys[0].WIF" class="text-danger"></span>
                    </div>

                </div>
                <div>
                    <button type="submit" name="action" value="@($"remove-private-key:{index}")" class="btn btn-danger">Remove</button>
                </div>
            </div>
        }
        <div class="list-group-item ">
            <button type="submit" name="action" value="add-private-key" class="btn btn-secondary">Add</button>
            
        </div>
    </div>

    @await Html.PartialAsync("DerivationStrategyHelp")
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="GetServices" asp-controller="ExternalServices" class="btn btn-secondary">Back to recipe</a>
    </div>
</form>