@using BtcTransmuter.Data.Models
@using BtcTransmuter.Extension.Exchange.Triggers.CheckExchangeBalance
@model BtcTransmuter.Data.Entities.RecipeTrigger
@{
    var data = Model.Get<CheckExchangeBalanceTriggerParameters>();
}

<div>
    Balance 
    @Enum.GetName(typeof(BalanceComparer), data.BalanceComparer)
    <kbd>@data.BalanceValue @data.Asset</kbd>
</div>