@if (User.Claims.Any())
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a asp-controller="NBXplorerStatus" asp-action="GetSummaries" class="nav-link">NBXplorer Status</a>
        </li>
    }
}
