<li class="nav-item mr-3">
    <a asp-controller="NBXplorerStatus" asp-action="GetSummaries">NBXplorer Status</a>
</li>
<li class="nav-item mr-3">
    <a asp-controller="WalletCreator" asp-action="GetWallet" asp-route-cryptoCode="btc">Wallet Creator</a>
</li>

