@if (User.Claims.Any())
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item mr-3">
            <a asp-controller="NBXplorerStatus" asp-action="GetSummaries">NBXplorer Status</a>
        </li>
    }
}