@using BtcTransmuter.Data.Models
@using BtcTransmuter.Extension.NBXplorer.Actions.NBXplorerCreatePSBT
@model BtcTransmuter.Data.Entities.RecipeAction
@{
    var data = Model.Get<NBXplorerCreatePSBTData>();
}

<div>
    Create a PSBT transaction with <kbd>@data.Outputs.Count</kbd> outputs
</div>