@using BtcTransmuter.Data.Models
@using BtcTransmuter.Extension.NBXplorer.Triggers.NBXplorerNewTransaction
@model BtcTransmuter.Data.Entities.RecipeTrigger
@{
    var data = Model.Get<NBXplorerNewTransactionTriggerParameters>();
}

<div>
    New Transaction at <kbd>@data.ConfirmationsRequired</kbd> confirmations
</div>