@using BtcTransmuter.Data.Models
@using BtcTransmuter.Extension.NBXplorer.Triggers.NBXplorerNewBlock
@model BtcTransmuter.Data.Entities.RecipeTrigger
@{
    var data = Model.Get<NBXplorerNewBlockTriggerParameters>();
}

<div>
    New Block on @data.CryptoCode
</div>