@using BtcTransmuter.Data.Models
@using BtcTransmuter.Extension.NBXplorer.Actions.GenerateNextAddress
@model BtcTransmuter.Data.Entities.RecipeAction
@{
    var data = Model.Get<GenerateNextAddressData>();
}

<div>
    Generate next address
</div>