@model BtcTransmuter.Controllers.GetRecipeLogsViewModel

@{
    ViewData["Title"] = $"{Model.Name} Recipe Invocations";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
    <tr>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.RecipeInvocations)
    {
        <tr>
            <td>
                @Json.Serialize(item);
            </td>
        </tr>
    }
    </tbody>
</table>