@using BtcTransmuter.Helpers
@model GetRecipeLogsViewModel

@{
    ViewData["Title"] = $"{Model.Name} Recipe Logs";
}

<h1>@ViewData["Title"]</h1>
@{
    
        
}
<table class="table">
    <thead>
    <tr>
        <th>
            Time
        </th>
        <th>
            Action
        </th>
        <th>
            Result
        </th>
        <th>
            Trigger Data
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.RecipeInvocations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @await Component.InvokeAsync("ViewRecipeAction", new
                {
                    recipeAction = item.RecipeAction
                })
            </td>
            <td>
                <partial name="PosData" model="@PosDataParser.ParsePosData(item.ActionResult)"/>
            </td>
            <td >

                <div style="max-width: 250px; height: 250px; overflow:scroll">
                    <partial name="PosData" model="@PosDataParser.ParsePosData(item.TriggerDataJson)"/>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>