@model BtcTransmuter.Extension.Operators.Actions.Condition.ConditionController.ConditionViewModel
@{
    ViewData["Title"] = "Edit Condition Action";
}

<h2>@ViewData["Title"]</h2>


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Condition" class="control-label"></label>
        <input type="text" asp-for="Condition" class="form-control"/>
        <span asp-validation-for="Condition" class="text-danger"></span>
    </div>


    <input type="hidden" asp-for="RecipeId"/>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="EditRecipe" asp-controller="Recipes" class="btn btn-secondary" asp-route-id="@Model.RecipeId">Back to recipe</a>
    </div>
</form>
@await Component.InvokeAsync("RecipeActionFooter", new
{
    recipeId = @Model.RecipeId,
    recipeActionIdInGroupBeforeThisOne = @Model.RecipeActionIdInGroupBeforeThisOne
})