@model ViewRecipeTriggerViewModel

<partial name="@Model.TriggerDescriptor.ViewPartial" model="@Model.RecipeTrigger"></partial>

@if (Model.ExternalServiceData != null)
 {
     <div>
         External Service: @Model.ExternalServiceData.Name
     </div>
 }